#artboard {

    .bg {
        background-image: url(__designDataUrl__/design-assets/vectors/jp-friend.svg);
    }

    .text-wrapper {
        color: #655D86;
        transform : none;
        text-shadow: none;
        font-weight: 500;
    }
}