#artboard {

    font-family: Noto Sans JP, sans-serif;
    filter: hue-rotate(__hue__deg) brightness(__brightness__);

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-image: url(__designDataUrl__/design-assets/vectors/jp-ramen.svg);
    }

    .text-wrapper {
        text-align: center;
        text-shadow: 10px 10px rgba(0,0,0,0.2);
        font-size: __textSize__px;
        position: absolute;
        line-height: 1.2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FCF8C4;
        font-weight: 900;
        transform: rotate(__textAngle__deg);
    }
}