.bg
.bg-darken
.text-wrapper
    .text-wrapper-inner
        div.title __title__
        div.subtitle __subtitle__
        div.maintext __maintext__
        div.description __description__
        div.notes __notes__
