#artboard {
    background: #FFDF2C;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }

    .wrapper-inner {
        width: __width__px;
        position: relative;
    }

    .text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: __text1FontSize__px;
        font-weight: 900;
        line-height: __text1FontSize__px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .text-2 {
        font-family: 'Roboto', sans-serif;
        font-size: __text2FontSize__px;
        font-weight: 400;
        line-height: calc(__text2FontSize__px * 1.25);
        color: #000;
        margin-bottom: 60px;
    }
}
